*Makefile
*Makefile.in
stamp*
*/.deps
.libs
*.gmo
*.orig
*.o
*.lo
*.la
\[config.h\].in
*,orig
configure
INSTALL
config.*
configure~
configure.ac
mkinstalldirs
missing
compile
install-sh
ltmain.sh
libtool
depcomp
aclocal.m4
autom4te.cache
*.desktop
m4/
po/POTFILES
po/*.in.in
ABOUT-NLS
po/Makevars.template
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/xfce4-time-out-plugin.pot
ChangeLog
xfce4-time-out-plugin-*.tar.bz2
