*Makefile
*Makefile.in
stamp*
*/.deps
.libs
*.gmo
*.orig
*.o
*.lo
*.la
\[config.h\].in
*,orig
configure
INSTALL
config.*
configure.ac
intltool*
mkinstalldirs
missing
compile
install-sh
ltmain.sh
libtool
depcomp
aclocal.m4
autom4te.cache
*.desktop
po/POTFILES
po/*.in.in
po/.intltool-merge-cache